body {
  font-family: Nunito;
  font-weight: 600;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #b61aae;
}

.jumbotron a {
  margin: 5px;
}

#skills {
  background-color: #b61aae;
}

#contact {
  color: white;
  background-color: #b61aae;
}

section {
  padding-top: 5rem;
}
